*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog

UnityOpenSubdiv/*.sln
UnityOpenSubdiv/*.csproj

_out/
_tmp/
Externals/
Library/
Temp/
Build/
Hidden/
Hidden.meta
obj/
